<aside hx-preserve x-bind:class="sidebarOpen ? 'w-64' : 'w-20'"
    class="bg-indigo-600 text-white fixed md:relative z-30 h-screen transition-all duration-300 ease-in-out overflow-hidden shadow-lg">

    <!-- Sidebar Header with Logo -->
    <div class="flex items-center justify-center h-s16 dborder-b border-gray-700">
        <h1 class="flex flex-col items-center gap- p-4">
            <img class="w-10 invert" src="https://cdn-icons-png.flaticon.com/128/9720/9720911.png" alt="Logo">
            <template x-if="sidebarOpen">
                <span x-shows="sidebarOpen" class="text-xl font-bold">Educo</span>
            </template>
            <template x-if="!sidebarOpen">
                <span x-shows="sidebarOpen" class="text-sm font-bold">Educo</span>
            </template>
        </h1>
    </div>

    <!-- Navigation Menu -->
    <nav class="flex-1 px-2 py-4 space-y-2" preload="mouseover" hx-boost="true" hx-target="#content">
        <!-- Dashboard -->
        <a href="/" class="flex items-center px-3 py-2 text-sm font-medium hover:bg-gray-700 rounded transition-colors" 
            :class="sidebarOpen ? '' : 'flex-col justify-center'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-layout-grid-icon lucide-layout-grid">
                <rect width="7" height="7" x="3" y="3" rx="1" />
                <rect width="7" height="7" x="14" y="3" rx="1" />
                <rect width="7" height="7" x="14" y="14" rx="1" />
                <rect width="7" height="7" x="3" y="14" rx="1" />
            </svg>
            <span x-show="sidebarOpen" class="ml-3" :class="sidebarOpen ? '' : 'text-xs'">Dashboard</span>
        </a>
        <!-- Courses -->
        <a href="/courses"
            class="flex items-center px-3 py-2 text-sm font-medium hover:bg-gray-700 rounded transition-colors"
            :class="sidebarOpen ? '' : 'justify-center'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-book-copy-icon lucide-book-copy">
                <path d="M2 16V4a2 2 0 0 1 2-2h11" />
                <path d="M22 18H11a2 2 0 1 0 0 4h10.5a.5.5 0 0 0 .5-.5v-15a.5.5 0 0 0-.5-.5H11a2 2 0 0 0-2 2v12" />
                <path d="M5 14H4a2 2 0 1 0 0 4h1" />
            </svg>
            <span x-show="sidebarOpen" class="ml-3">Courses</span>
        </a>
        <!-- Sessions -->
        <a href="/sessions"
            class="flex items-center px-3 py-2 text-sm font-medium hover:bg-gray-700 rounded transition-colors"
            :class="sidebarOpen ? '' : 'justify-center'">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 7V3m8 4V3m-9 8h10m-9 4h10m-9 4h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            <span x-show="sidebarOpen" class="ml-3">Sessions</span>
        </a>
        <!-- Instructors -->
        <a href="/instructors"
            class="flex items-center px-3 py-2 text-sm font-medium hover:bg-gray-700 rounded transition-colors"
            :class="sidebarOpen ? '' : 'justify-center'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-user-round-icon lucide-user-round">
                <circle cx="12" cy="8" r="5" />
                <path d="M20 21a8 8 0 0 0-16 0" />
            </svg>
            <span x-show="sidebarOpen" class="ml-3">Instructors</span>
        </a>
        <!-- Students -->
        <a href="/students"
            class="flex items-center px-3 py-2 text-sm font-medium hover:bg-gray-700 rounded transition-colors"
            :class="sidebarOpen ? '' : 'justify-center'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  viewBox="0 0 256 256" xml:space="preserve">
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: white; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                    <path d="M 45 49.519 L 45 49.519 c -7.68 0 -13.964 -6.284 -13.964 -13.964 v -5.008 c 0 -7.68 6.284 -13.964 13.964 -13.964 h 0 c 7.68 0 13.964 6.284 13.964 13.964 v 5.008 C 58.964 43.236 52.68 49.519 45 49.519 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                    <path d="M 52.863 51.438 c -2.362 1.223 -5.032 1.927 -7.863 1.927 s -5.501 -0.704 -7.863 -1.927 C 26.58 53.014 18.414 62.175 18.414 73.152 v 14.444 c 0 1.322 1.082 2.403 2.403 2.403 h 48.364 c 1.322 0 2.403 -1.082 2.403 -2.403 V 73.152 C 71.586 62.175 63.42 53.014 52.863 51.438 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                    <path d="M 71.277 34.854 c -2.362 1.223 -5.032 1.927 -7.863 1.927 c -0.004 0 -0.007 0 -0.011 0 c -0.294 4.412 -2.134 8.401 -4.995 11.43 c 10.355 3.681 17.678 13.649 17.678 24.941 v 0.263 h 11.511 c 1.322 0 2.404 -1.082 2.404 -2.404 V 56.568 C 90 45.59 81.834 36.429 71.277 34.854 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                    <path d="M 63.414 0 c -7.242 0 -13.237 5.589 -13.898 12.667 c 8 2.023 13.947 9.261 13.947 17.881 v 2.385 c 7.657 -0.027 13.914 -6.298 13.914 -13.961 v -5.008 C 77.378 6.284 71.094 0 63.414 0 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                    <path d="M 13.915 73.152 c 0 -11.292 7.322 -21.261 17.677 -24.941 c -2.861 -3.029 -4.702 -7.019 -4.995 -11.43 c -0.004 0 -0.007 0 -0.011 0 c -2.831 0 -5.5 -0.704 -7.863 -1.927 C 8.166 36.429 0 45.59 0 56.568 v 14.444 c 0 1.322 1.082 2.404 2.404 2.404 h 11.511 V 73.152 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                    <path d="M 26.536 32.932 v -2.385 c 0 -8.62 5.946 -15.858 13.947 -17.881 C 39.823 5.589 33.828 0 26.586 0 c -7.68 0 -13.964 6.284 -13.964 13.964 v 5.008 C 12.622 26.635 18.879 32.905 26.536 32.932 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                </g>
                </svg>
            <span x-show="sidebarOpen" class="ml-3">Students</span>
        </a>
    </nav>
</aside>